
{% extends "layout.twig" %}

{% block content %}

<div class="bk-default">
    <header class="bk-header">
        <div class="companyheader page-wrap clearfix">
            <div class="flex-container">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                {{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
            </div>
        </div>
    </header>         
    
    <div class="page-wrap">
        <div class="mainzone">
            {{zone('main')|raw}}
        </div>
    </div>
    
    <footer class="bk-footer">
        <div class="page-wrap clearfix">
            <div class="responsivecolumns columns-two-50-50">
                <div class="column columns-two-left">
                    <div class="footer-left">
                        {{widget('profile', 'footer-profile', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
                    </div>
                </div>
                <div class="column columns-two-right">
                    <div class="footer-right">
                        {{widget('companyname', 'footercompanyname', {"business": "profile"})|raw}}
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

{% endblock %}
