
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="companyheader page-wrap clearfix">
        <div class="flex-container">
            <div class="nav">
                {{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
            </div>
            <div class="company-info">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
        </div>
    </div>
</header>         

<section class="bk-section">
    {{widget('gallery', 'gallery1', 
    {'albumRef':0,
    'showDescription': true,
    'showTitle': true,
    'images':
    [
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('images/gallery/1.jpg'), 'title':'Image 1',  'description': 'This is image 1'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('images/gallery/2.jpg'), 'title':'Image 2',  'description': 'This is image 2'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('images/gallery/3.jpg'), 'title':'Image 3',  'description': 'This is image 3'},
    ]
    })|raw}}
</section>

<div class="page-wrap">
	<div class="mainzone">
		{{zone('main')|raw}}
	</div>
</div>

<footer class="bk-footer">
    <div class="page-wrap clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                <div class="footer-left">
                    {{widget('profile', 'footer-profile', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
                </div>
            </div>
            <div class="column columns-two-right">
                <div class="footer-right">
                    {{widget('companyname', 'footercompanyname', {"business": "profile"})|raw}}
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
